CONFIGURATIONS="Distribution Release"

ProvisionRelease=01311B97-0135-4DF3-BB39-CF1963AEE464.mobileprovision
CodesignRelease="iPhone Distribution: Decaf Ninja Software"

ProvisionDistribution=E8026FC4-54B6-4EA7-9BC2-6DB9D3340F72.mobileprovision
CodesignDistribution="iPhone Distribution: Decaf Ninja Software"

OTAURL="http://decafninja.com/beta/iyapc"
OTATitle=iYAPC
OTASubtitle="Decaf Ninja Software"
OTASmallIcon=Icon-57.png
OTALargeIcon=Icon-512.png
