CONFIGURATIONS="Distribution Release"

ProvisionRelease=01311B97-0135-4DF3-BB39-CF1963AEE464.mobileprovision
CodesignRelease="iPhone Distribution: Coal Harbour Group"

ProvisionDistribution=0569C10B-7080-4CC5-BA22-BA10773AABDE.mobileprovision
CodesignDistribution="iPhone Distribution: Coal Harbour Group"

OTAURL="http://decafninja.com/beta/iyapc"
OTATitle=iYAPC
OTASubtitle="Decaf Ninja Software"
OTASmallIcon=Icon-57.png
OTALargeIcon=Icon-512.png
